.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(233, 100, 23);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-booking {
  margin: 0 3%;
}
label {
  display: block;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.header-create {
  margin: 3%;
}
.inputData {
  margin: 2% 0;
}
.error-validate {
  color: #bf1650;
  margin: auto 0 auto 3%;
}
.error-validate::before {
  display: inline;
  content: "⚠ ";
}
input + p {
  color: #bf1650;
}
input + p::before {
  display: inline;
  content: "⚠ ";
}
input {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgb(138, 135, 135);
  padding: 10px 15px;
  font-size: 14px;
}
.hidden-input {
  /* หายทั้งพื้นที่ */
  display:none;
  /* visibility: hidden; */
}
.list-group {
  height: 50%;
  overflow-y: scroll;
} 

tbody {
  height:270px;
  overflow:auto;
}

.Title_Section {
  display: none;
 }

 .Row_Fix_Height {
  height:70px;
}
.container_height {
  height: 260mm;
}
.button-center {
  margin: 0 auto;
}
.button-left {
  margin: 0;
}
.Td-center 
{
  vertical-align: middle;
}
.btn-flat {
  background-color: white;
  color: black;
  border: 1px solid #ced4da;
}
nav .navbar-nav li a {
  color: rgb(153, 130, 187) !important;
}
.nav-link:hover {
  color: white !important;
}
.reset-pass-link:hover {
  color: blue !important;
  text-decoration: none;
}
.button-booking {
  margin: 0 3% 3% 0;
}
.col-md-2 {
  margin: auto 0;  
  }
.dropdown-item:hover {
  background-color: rgb(175, 165, 189) !important;
}
.dropdown-item:active {
  background-color: rgb(175, 165, 189) !important;
}
#dropdown-item-button {
  width: 158px;
}
